---
//pages/[lang]/poetry/[slug].astro

import fetchApi from '../../../assets/scripts/lib/strapi.js';

import Layout from '../../../layouts/Layout.astro';
import AllProjectsLists from '../../../layouts/AllProjectsLists.astro';
import PreviewImg from '../../../components/features/preview-image/PreviewImg.jsx';
import AccordionReadProject from '../../../components/features/accordion-project/AccordionReadProject.jsx';
import Slider from '../../../components/features/slider/Slider.jsx';
import ZoomModale from '../../../components/features/slider/ZoomModale.jsx';
export async function getStaticPaths() {
    const languages = ['fr', 'en'];
    const paths = [];

    for (const lang of languages) {
        try {
            const poetries = await fetchApi({
                endpoint: 'poetries?populate=*',
                wrappedByKey: 'data',
                locale: lang,
            });

            if (!Array.isArray(poetries)) {
                console.error(
                    'Les données reçues ne sont pas un tableau:',
                    poetries
                );
                continue;
            }

            const langPaths = poetries.map((poetry) => ({
                params: {
                    lang,
                    slug: poetry.slug,
                },
                props: { poetry },
            }));

            paths.push(...langPaths);
        } catch (error) {
            console.error(`Error fetching poetries for ${lang}:`, error);
        }
    }

    return paths;
}

const { poetry } = Astro.props;
const { lang } = Astro.params;
export const prerender = true;
---

<Layout title='Poetry' showReturn returnTo={`/poetry`}>
    <div transition:persist>
        <AllProjectsLists lang={lang} enterIndex={false} />
    </div>

    <AccordionReadProject
        lang={lang}
        client:only
        transition:persist
        description={poetry?.description || 'Description non disponible'}
        technique={poetry?.technique || 'Technique non disponible'}
        materials={poetry?.materials || 'Matériaux non disponibles'}
        width={poetry?.width || 'Largeur non disponible'}
        height={poetry?.height || 'Hauteur non disponible'}
        year={poetry?.year || 'Année non disponible'}
        credit={poetry?.credit || 'Crédit non disponible'}
    />
    <PreviewImg
        transition:name='preview-image'
        transition:persist
        client:only
    />
    <div class='fixed top-0 left-0 w-screen h-screen'>
        {
            poetry?.medias ? (
                <Slider
                    client:only
                    medias={poetry.medias}
                    zoomImg={poetry.zoomImg || []}
                    noTimeOut={true}
                />
            ) : (
                <ZoomModale
                    client:only
                    hidden={false}
                    zoomImg={poetry.zoomImg || []}
                />
            )
        }
    </div>
</Layout>
