---
//pages/[lang]/vitrail/[slug].astro

import fetchApi from "../../../lib/strapi";
import Layout from "../../../layouts/Layout.astro";
import Nav from "../../../layouts/Nav.jsx";
import VitrailList from "../../../layouts/projects-lists/Vitrail-list.jsx";
import Slider from "../../../components/slider/Slider.jsx";

export async function getStaticPaths() {
  const languages = ["fr", "en"];
  const paths = [];

  for (const lang of languages) {
    try {
      const vitraux = await fetchApi({
        endpoint: "vitrails?populate=*",
        wrappedByKey: "data",
        locale: lang,
      });

      if (!Array.isArray(vitraux)) {
        console.error("Les données reçues ne sont pas un tableau:", vitraux);
        continue;
      }

      const langPaths = vitraux.map((vitrail) => ({
        params: {
          lang,
          slug: vitrail.slug,
        },
        props: { vitrail },
      }));

      paths.push(...langPaths);
    } catch (error) {
      console.error(`Error fetching vitraux for ${lang}:`, error);
    }
  }
  return paths;
}

const vitraux = await fetchApi({
  endpoint: "vitrails?populate=*",
  wrappedByKey: "data",
});

const { vitrail } = Astro.props;
const { lang } = Astro.params;
export const prerender = true;
---

<Layout title="Vitrail" showReturn returnTo={`/vitrail`}>
  <div class="fixed top-[10px] left-main-x z-20">
    <Nav
      lang={lang}
      currentPath={Astro.url.pathname}
      transition:name="nav"
      transition:persist
      client:load
    />
  </div>
  <div class="fixed top-[10px] right-main-x z-20">
    <VitrailList
      targetHref={Astro.url.pathname}
      hidden={false}
      lang={lang}
      dataVitrails={vitraux}
      isOnVitrailPage={true}
      transition:name="vitrailist"
      transition:persist
      client:load
    />
  </div>
  <div class="border-2 border-violet-300 fixed top-0 left-0 z-10">
    <Slider client:only medias={vitrail?.medias || []} />
  </div>
  <h1>{vitrail?.title || "Titre non disponible"}</h1>
  <p>{vitrail?.description || "Description non disponible"}</p>
</Layout>
