---
//pages/index.astro

import fetchApi from "../lib/strapi";
import Layout from "../layouts/Layout.astro";
import Nav from "../layouts/Nav.astro";
import PaintingsList from "../layouts/projects-lists/Paintings-list.jsx";
import VitrailList from "../layouts/projects-lists/Vitrail-list.jsx";

export async function getStaticPaths() {
  return [{ params: { lang: "fr" } }, { params: { lang: "en" } }];
}

const paintings = await fetchApi({
  endpoint: "paintings?populate=*",
  wrappedByKey: "data",
});
const vitraux = await fetchApi({
  endpoint: "vitrails?populate=*",
  wrappedByKey: "data",
});

const { lang } = Astro.params;
export const prerender = true;
---

<Layout title={lang === "fr" ? "Accueil" : "Home"}>
  <main>
    <Nav />

    <VitrailList
      targetHref="/vitrail"
      lang={lang}
      dataVitrails={vitraux}
      isOnVitrailPage={false}
      client:load
      transition:name="vitrailist"
      transition:persist
    />
    <PaintingsList
      targetHref="/painting"
      lang={lang}
      dataPaintings={paintings}
      isOnPaintingPage={false}
      client:load
      transition:name="paintingslist"
      transition:persist
    />
  </main>

  <script is:inline>
    document.addEventListener("astro:before-preparation", (env) => {
      console.log("Page cible:", env.to.pathname);
    });
  </script>
</Layout>
