---
//pages/[lang]/weaving/[slug].astro

import fetchApi from '../../../assets/scripts/lib/strapi.js';
import { fade } from 'astro:transitions';

import Layout from '../../../layouts/Layout.astro';
import AllProjectsLists from '../../../layouts/AllProjectsLists.astro';
import PreviewImg from '../../../components/features/preview-image/PreviewImg.jsx';
import AccordionReadProject from '../../../components/features/accordion-project/AccordionReadProject.jsx';
import Slider from '../../../components/features/slider/Slider.jsx';
import ZoomModale from '../../../components/features/slider/ZoomModale.jsx';
export async function getStaticPaths() {
    const languages = ['fr', 'en'];
    const paths = [];

    for (const lang of languages) {
        // ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::  */
        // Récupérer les données des tissages
        // ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::  */
        try {
            const weavings = await fetchApi({
                endpoint: 'weavings?populate=*',
                wrappedByKey: 'data',
                locale: lang,
            });

            if (!Array.isArray(weavings)) {
                console.error(
                    'Les données reçues ne sont pas un tableau:',
                    weavings
                );
                continue;
            }

            const langPaths = weavings.map((weaving) => ({
                params: {
                    lang,
                    slug: weaving.slug,
                },
                props: { weaving },
            }));

            paths.push(...langPaths);
        } catch (error) {
            console.error(`Error fetching weavings for ${lang}:`, error);
        }
    }
    return paths;
}
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::  */

const { weaving } = Astro.props; // Destructurer directement weaving
const { lang } = Astro.params;
export const prerender = true;
---

<Layout title='Weaving' showReturn returnTo={`/weaving`}>
    <AllProjectsLists lang={lang} enterIndex={false} />

    <AccordionReadProject
        lang={lang}
        client:only
        transition:persist
        year={weaving?.year || 'Année non disponible'}
        description={weaving?.description || 'Description non disponible'}
        technique={weaving?.technique || 'Technique non disponible'}
        materials={weaving?.materials || 'Matériaux non disponibles'}
        width={weaving?.width || 'Largeur non disponible'}
        height={weaving?.height || 'Hauteur non disponible'}
    />
    <PreviewImg
        transition:name='preview-image'
        transition:persist
        client:only
    />
    <div
        class='fixed top-0 left-0 w-screen h-screen'
        transition:animate={fade({ duration: '0.5s' })}
        transition:persist
    >
        {weaving?.medias? (
            <Slider client:only medias={weaving.medias} zoomImg={weaving.zoomImg || []} />
        ) : (
            <ZoomModale client:only hidden={false} zoomImg={weaving.zoomImg || []} />
        )}
    </div>
</Layout>
