---
//pages/[lang]/about.astro
import fetchApi from '../../assets/scripts/lib/strapi.js';
import Layout from '../../layouts/Layout.astro';
import Nav from '../../layouts/Nav.jsx';
import AboutComponent from '../../layouts/about-page/AboutComponent.jsx';
import ActuComponent from '../../layouts/about-page/ActuComponent.jsx';
import MobileButtons from '../../layouts/about-page/MobileButtons.jsx';
import WrapperHeight from '../../layouts/about-page/WrapperHeight.jsx';
import AllProjectsLists from '../../layouts/AllProjectsLists.astro';

export async function getStaticPaths() {
    return [{ params: { lang: 'fr' } }, { params: { lang: 'en' } }];
}

const { lang } = Astro.params;

const about = await fetchApi({
    endpoint: 'about?populate=*',
    wrappedByKey: 'data',
    locale: lang,
});

const actus = await fetchApi({
    endpoint: 'actus?populate=*',
    wrappedByKey: 'data',
    locale: lang,
});

export const prerender = true;
---

<Layout title='About' showReturn returnTo=''>
    <AllProjectsLists lang={lang} enterIndex={false} />
    <MobileButtons lang={lang} client:load />
    <WrapperHeight client:load />
    <div
        class='wrapper-about-actus relative md:static overflow-hidden md:overflow-visible'
    >
        <AboutComponent about={about} lang={lang} client:load />
        <ActuComponent actus={actus} lang={lang} client:only='react' />
    </div>
</Layout>
