---
//pages/index.astro

import fetchApi from "../../lib/strapi";
import Layout from "../../layouts/Layout.astro";
import Nav from "../../layouts/Nav.jsx";
import PaintingsList from "../../layouts/projects-lists/Paintings-list.jsx";
import VitrailList from "../../layouts/projects-lists/Vitrail-list.jsx";
import VolumesList from "../../layouts/projects-lists/Volumes-list.jsx";

export async function getStaticPaths() {
  return [{ params: { lang: "fr" } }, { params: { lang: "en" } }];
}
const { lang } = Astro.params;

const volumes = await fetchApi({
  endpoint: "volumes?populate=*",
  wrappedByKey: "data",
  locale: lang,
});
const vitraux = await fetchApi({
  endpoint: "vitrails?populate=*",
  wrappedByKey: "data",
  locale: lang,
});
const paintings = await fetchApi({
  endpoint: "paintings?populate=*",
  wrappedByKey: "data",
  locale: lang,
});

export const prerender = true;
---

<Layout title={lang === "fr" ? "Accueil" : "Home"}>
  <main>
    <div class="fixed top-0 w-[calc(100%-(var(--spacing-main-x)*2))] flex justify-between">
      <Nav
        lang={lang}
        currentPath={Astro.url.pathname}
        transition:name="nav"
        transition:persist
        client:load
      />
      <VolumesList
        targetHref="/volume"
        lang={lang}
        dataVolumes={volumes}
        isOnVolumePage={false}
        transition:name="volumeslist"
        transition:persist
        client:load
      />
      <VitrailList
        targetHref={`/vitrail`}
        lang={lang}
        dataVitrails={vitraux}
        isOnVitrailPage={false}
        transition:name="vitrailist"
        transition:persist
        client:load
      />
    </div>

    <PaintingsList
      targetHref={`/painting`}
      lang={lang}
      dataPaintings={paintings}
      isOnPaintingPage={false}
      transition:name="paintingslist"
      transition:persist
      client:load
    />
  </main>

  <!-- <script is:inline>
    // Ce script n'est plus nécessaire si nous utilisons directement Astro.url.pathname
    document.addEventListener("astro:before-preparation", (env) => {
      console.log("Page cible:", env.to.pathname);
    });
  </script> -->
</Layout>
