---
//pages/[lang]/painting.astro
import fetchApi from "../../lib/strapi";
import Layout from "../../layouts/Layout.astro";
import Nav from "../../layouts/Nav.jsx";
import PaintingsList from "../../layouts/projects-lists/Paintings-list.jsx";

export async function getStaticPaths() {
  return [{ params: { lang: "fr" } }, { params: { lang: "en" } }];
}

const { lang } = Astro.params;

const paintings = await fetchApi({
  endpoint: "paintings?populate=*",
  wrappedByKey: "data",
  locale: lang,
});

console.log("pathname in painting:", Astro.url.pathname);

export const prerender = true;
---

<Layout title="Painting" showReturn returnTo="">
  <main>
    
    <Nav
      lang={lang}
      currentPath={Astro.url.pathname}
      transition:name="nav"
      transition:persist
      client:load
    />
    
   
    <PaintingsList
      targetHref="/"
      dataPaintings={paintings}
      lang={lang}
      client:load
      isOnPaintingPage={true}
      transition:name="paintingslist"
      transition:persist
    />
  </main>
</Layout>
