---
//pages/[lang]/vitrail.astro
import fetchApi from "../../lib/strapi";
import Layout from "../../layouts/Layout.astro";
import VitrailList from "../../layouts/projects-lists/Vitrail-list.jsx";
import Nav from "../../layouts/Nav.jsx";

export async function getStaticPaths() {
  return [{ params: { lang: "fr" } }, { params: { lang: "en" } }];
}

const { lang } = Astro.params;

const vitraux = await fetchApi({
  endpoint: "vitrails?populate=*",
  wrappedByKey: "data",
  locale: lang,
});

export const prerender = true;
---

<Layout title="Vitrail" showReturn returnTo="">
  <main>
    <div class="header-wrapperfixed top-0 w-full flex justify-between">
      <div class="flex-1">
        <Nav
          lang={lang}
          currentPath={Astro.url.pathname}
          transition:name="nav"
          transition:persist
          client:load
        />
      </div>
      <div class="flex-1">
        <VitrailList
          targetHref="/"
          dataVitrails={vitraux}
          lang={lang}
          isOnVitrailPage={true}
        transition:name="vitrailist"
        transition:persist
          client:load
        />
      </div>
    </div>
  </main>
</Layout>
