---
//pages/[lang]/vitrail.astro

import fetchApi from "../../lib/strapi";
import Layout from "../../layouts/Layout.astro";
import Nav from "../../layouts/Nav.jsx";
import PaintingsList from "../../layouts/projects-lists/Paintings-list.jsx";
import VitrailList from "../../layouts/projects-lists/Vitrail-list.jsx";
import VolumesList from "../../layouts/projects-lists/Volumes-list.jsx";
import PoetryList from "../../layouts/projects-lists/Poetry-list.jsx";
import WeavingList from "../../layouts/projects-lists/Weaving-list.jsx";

export async function getStaticPaths() {
  return [{ params: { lang: "fr" } }, { params: { lang: "en" } }];
}
const { lang } = Astro.params;

const volumes = await fetchApi({
  endpoint: "volumes?populate=*",
  wrappedByKey: "data",
  locale: lang,
});
const vitraux = await fetchApi({
  endpoint: "vitrails?populate=*",
  wrappedByKey: "data",
  locale: lang,
});
const paintings = await fetchApi({
  endpoint: "paintings?populate=*",
  wrappedByKey: "data",
  locale: lang,
});
const poetries = await fetchApi({
  endpoint: "poetries?populate=*",
  wrappedByKey: "data",
  locale: lang,
});
const weavings = await fetchApi({
  endpoint: "weavings?populate=*",
  wrappedByKey: "data",
  locale: lang,
});

export const prerender = true;
---

<Layout title={lang === "fr" ? "Accueil" : "Home"}>
  <main>
    <div class="border border-red-500 fixed top-0 left-0 w-full h-full flex justify-center items-center pointer-events-none">
      <div class="h-preview-h w-preview-w bg-violet-300"></div>
    </div>
    <div
      class="header-wrapperfixed top-0 w-full flex justify-between gap-x-[20px]"
    >
      <div class="flex-1">
        <Nav
          lang={lang}
          currentPath={Astro.url.pathname}
          transition:name="nav"
          transition:persist
          client:load
        />
      </div>
      <div class="flex-3">
        <VolumesList
          targetHref="/volume/"
          hidden={true}
          lang={lang}
          dataVolumes={volumes}
          isOnVolumePage={false}
          transition:name="volumeslist"
          transition:persist
          client:load
        />
      </div>
      <div class="flex-1">
        <VitrailList
          targetHref={`/vitrail/`}
          hidden={false}
          lang={lang}
          dataVitrails={vitraux}
          isOnVitrailPage={true}
          transition:name="vitrailist"
          transition:persist
          client:load
        />
      </div>
    </div>

    
    <PoetryList
      targetHref={`/poetry/`}
      hidden={true}
      lang={lang}
      dataPoetry={poetries}
      isOnPoetryPage={false}
      transition:name="poetrylist"
      transition:persist
      client:load
    />

    <PaintingsList
      targetHref={`/painting/`}
      hidden={true}
      lang={lang}
      dataPaintings={paintings}
      isOnPaintingPage={true}
      transition:name="paintingslist"
      transition:persist
      client:load
    />
    <WeavingList
      targetHref={`/weaving/`}
      hidden={true}
      lang={lang}
      dataWeaving={weavings}
      isOnWeavingPage={false}
      transition:name="weavinglist"
      transition:persist
      client:load
    />
  </main>
</Layout>
