---
//pages/[lang]/volume.astro
import fetchApi from "../../lib/strapi";
import Layout from "../../layouts/Layout.astro";
import VolumesList from "../../layouts/projects-lists/Volumes-list.jsx";
import Nav from "../../layouts/Nav.jsx";

export async function getStaticPaths() {
  return [{ params: { lang: "fr" } }, { params: { lang: "en" } }];
}
const { lang } = Astro.params;

const volumes = await fetchApi({
  endpoint: "volumes?populate=*",
  wrappedByKey: "data",
  locale: lang,
});

export const prerender = true;
---

<Layout title="Volume" showReturn returnTo="">
  <main>
    <Nav
      lang={lang}
      currentPath={Astro.url.pathname}
      transition:name="nav"
      transition:persist
      client:load
    />
    <VolumesList
      targetHref="/"
      dataVolumes={volumes}
      lang={lang}
      client:load
      isOnVolumePage={true}
      transition:name="volumeslist"
      transition:persist
    />
  </main>
</Layout>
