---
import fetchApi from '../lib/strapi';

import Nav from '../layouts/Nav.jsx';
import PaintingsList from '../layouts/projects-lists/Paintings-list.jsx';
import VitrailList from '../layouts/projects-lists/Vitrail-list.jsx';
import VolumesList from '../layouts/projects-lists/Volumes-list.jsx';
import PoetryList from '../layouts/projects-lists/Poetry-list.jsx';
import WeavingList from '../layouts/projects-lists/Weaving-list.jsx';

const { lang, enterIndex } = Astro.props;

const currentPath = Astro.url.pathname || '';
const categoryMatch = currentPath.match(/^\/[a-z]{2}\/([^\/]+)/);
const categoryClass = categoryMatch ? `${categoryMatch[1]}` : '';

const volumes = await fetchApi({
    endpoint: 'volumes?populate=*',
    wrappedByKey: 'data',
    locale: lang,
});
const vitraux = await fetchApi({
    endpoint: 'vitrails?populate=*',
    wrappedByKey: 'data',
    locale: lang,
});
const paintings = await fetchApi({
    endpoint: 'paintings?populate=*',
    wrappedByKey: 'data',
    locale: lang,
});
const poetries = await fetchApi({
    endpoint: 'poetries?populate=*',
    wrappedByKey: 'data',
    locale: lang,
});
const weavings = await fetchApi({
    endpoint: 'weavings?populate=*',
    wrappedByKey: 'data',
    locale: lang,
});

export const prerender = true;
---

<div class={`header-wrapper w-full flex justify-between gap-x-[20px]`}>
    <div class='flex-1'>
        <Nav
            className='relative z-50'
            lang={lang}
            currentPath={Astro.url.pathname}
            transition:name='nav'
            transition:persist
            client:load
        />
    </div>
    <div class='flex-3 max-md:hidden'>
        <VolumesList
            className='relative z-50'
            targetHref={currentPath}
            hidden={categoryClass === 'volume' || enterIndex === true
                ? false
                : true}
            lang={lang}
            dataVolumes={volumes}
            isOnVolumePage={categoryClass === 'volume' ? true : false}
            transition:name='volumeslist'
            transition:persist
            client:load
        />
    </div>
    <div class='flex-1 max-md:hidden'>
        <VitrailList
            className='relative z-50'
            targetHref={currentPath}
            hidden={categoryClass === 'vitrail' || enterIndex === true
                ? false
                : true}
            lang={lang}
            animateIn={enterIndex ? true : false}
            dataVitrails={vitraux}
            isOnVitrailPage={categoryClass === 'vitrail' ? true : false}
            transition:name='vitrailist'
            transition:persist
            client:load
        />
    </div>
</div>

<div
    class='bg-lime-50 fixed z-50 left-0 bottom-[10px] h-[calc(100vh-50px)] w-[150px]'
>
    <PoetryList
        className=''
        targetHref={currentPath}
        hidden={categoryClass === 'poetry' || enterIndex === true
            ? false
            : true}
        lang={lang}
        dataPoetry={poetries}
        isOnPoetryPage={categoryClass === 'poetry' ? true : false}
        transition:name='poetrylist'
        transition:persist
        client:only='react'
    />
</div>

<PaintingsList
    className='fixed left-[150px] bottom-0 z-50'
    targetHref={currentPath}
    hidden={categoryClass === 'painting' || enterIndex === true ? false : true}
    lang={lang}
    dataPaintings={paintings}
    isOnPaintingPage={categoryClass === 'painting' ? true : false}
    transition:name='paintingslist'
    transition:persist
    client:load
/>
<WeavingList
    className='z-50'
    targetHref={currentPath}
    hidden={categoryClass === 'weaving' || enterIndex === true ? false : true}
    lang={lang}
    dataWeaving={weavings}
    isOnWeavingPage={categoryClass === 'weaving' ? true : false}
    transition:name='weavinglist'
    transition:persist
    client:load
/>
