---
// src/layouts/Layout.astro
import '../assets/styles/global.css';
import { ClientRouter } from 'astro:transitions';
import ButtonReturn from '../components/common/ButtonReturn.astro';
import LanguageSwitch from '../components/common/LanguageSwitch.jsx';

const { title, showReturn = false, returnTo = '' } = Astro.props;
const currentLocale = Astro.currentLocale || 'fr';
const currentPath = Astro.url.pathname || '';
const isAboutPage = currentPath.includes('/about');
const isIndexPage = currentPath == '/fr/' || currentPath == '/en/';

// Find the category of the current page and add it to the body tag
const categoryMatch = currentPath.match(/^\/[a-z]{2}\/([^\/]+)/);
const categoryClass = (categoryMatch ? `category-${categoryMatch[1]}` : '') + '' + (isIndexPage ? 'index-page' : '');
---

<!doctype html>
<html lang={currentLocale} transition:name='root' transition:animate='none'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width' />
        <link rel='icon' type='image/x-icon' href='/favicon.ico' />
        <meta name='generator' content={Astro.generator} />
        <title>{title}</title>
        <ClientRouter />
    </head>

    <body
        class={`font-bradford text-base leading-base px-main-x-mobile md:px-main-x ${
            Astro.url.pathname.match(
                /^\/(fr|en)\/(painting|volume|poetry|vitrail|weaving)\/[^\/]+\/?$/
            )
                ? 'on-slug-page'
                : ''
        } ${categoryClass}`}
        data-page={isAboutPage ? 'about' : undefined}
    >
        <div
            class='language-switch fixed top-[8vh] right-[20vw] p-5 rounded-[4px] z-[999] mix-blend-target'
        >
            <LanguageSwitch
                client:only
                currentLang={currentLocale}
                currentPath={currentPath}
            />
        </div>
        <main>
            {showReturn && <ButtonReturn to={returnTo} />}
            <slot />
        </main>
    </body>
</html>
